<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Seja bem-vindo, {{ user?.username }}!</h2>
  
  <ion-button expand="block" color="primary" (click)="goToUsers()">
    <ion-icon slot="start" name="people-outline"></ion-icon>
    Visualizar Usuários
  </ion-button>

  <ion-button expand="block" color="secondary" (click)="goToAttendance()">
    <ion-icon slot="start" name="calendar-outline"></ion-icon>
    Agenda de Atendimentos
  </ion-button>
</ion-content>